In [2]:
import pandas as pd
df = pd.read_csv("../data/raw/online_retail.csv")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 9 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   index        541909 non-null  int64
 1   InvoiceNo    541909 non-null  object
 2   StockCode    541909 non-null  object
 3   Description  540455 non-null  object
 4   Quantity     541909 non-null  int64
 5   InvoiceDate  541909 non-null  object
 6   UnitPrice    541909 non-null  float64
 7   CustomerID   406829 non-null  float64
 8   Country      541909 non-null  object
dtypes: float64(2), int64(2), object(5)
memory usage: 37.2+ MB

In [20]:
df[df["InvoiceNo"].str.contains(r'^(?=.*[a-zA-Z])(?=.*[0-9])[a-zA-Z0-9]+$')]["InvoiceNo"].str[0].unique()

array(['C', 'A'], dtype=object)

In [4]:
df[df["InvoiceNo"].str.contains(r'^[a-zA-Z]+$')]["InvoiceNo"].unique()

array([], dtype=object)

In [7]:
df["StockCode"].unique()

array(['85123A', '71053', '84406B', ..., '90214U', '47591b', '23843'],
      shape=(4070,), dtype=object)

In [6]:
df[df["StockCode"].str.contains(r'^(?=.*[a-zA-Z])(?=.*[0-9])[a-zA-Z0-9]+$')]["StockCode"].unique()

array(['85123A', '84406B', '84029G', ..., '85179a', '90214U', '47591b'],
      shape=(1106,), dtype=object)

In [13]:
df[df["StockCode"].str.contains(r'^\d+$')]["StockCode"].unique()

array(['71053', '22752', '21730', ..., '23609', '23617', '23843'],
      shape=(2946,), dtype=object)

In [14]:
df[df["StockCode"].str.contains(r'^[a-zA-Z]+$')]["StockCode"].unique()

array(['POST', 'D', 'DOT', 'M', 'S', 'AMAZONFEE', 'm', 'DCGSSBOY',
       'DCGSSGIRL', 'PADS', 'B', 'CRUK'], dtype=object)

In [20]:
match_mask = (
    df["StockCode"].str.contains(r'^[a-zA-Z]+$') |
    df["StockCode"].str.contains(r'^\d+$') |
    df["StockCode"].str.contains(r'^(?=.*[a-zA-Z])(?=.*[0-9])[a-zA-Z0-9]+$')
)

df[~match_mask]["StockCode"].unique()

array(['BANK CHARGES', 'gift_0001_40', 'gift_0001_50', 'gift_0001_30',
       'gift_0001_20', 'gift_0001_10'], dtype=object)

In [22]:
df[df["StockCode"] == 'gift_0001_50']

,index,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
42057,42057,539958,gift_0001_50,Dotcomgiftshop Gift Voucher £50.00,1,12/23/2010 13:26,42.55,NaN,United Kingdom
178556,178556,552232,gift_0001_50,Dotcomgiftshop Gift Voucher £50.00,1,5/6/2011 15:54,41.67,NaN,United Kingdom
239744,239744,558066,gift_0001_50,Dotcomgiftshop Gift Voucher £50.00,1,6/24/2011 15:45,41.67,NaN,United Kingdom
245516,245516,558614,gift_0001_50,Dotcomgiftshop Gift Voucher £50.00,1,6/30/2011 15:56,41.67,NaN,United Kingdom

In [30]:
df[df["Description"].isnull()][df["UnitPrice"] == 0]

C:\Users\spanu\AppData\Local\Temp\ipykernel_12796\475170551.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df[df["Description"].isnull()][df["UnitPrice"] == 0]

,index,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
622,622,536414,22139,NaN,56,12/1/2010 11:52,0.0,NaN,United Kingdom
1970,1970,536545,21134,NaN,1,12/1/2010 14:32,0.0,NaN,United Kingdom
1971,1971,536546,22145,NaN,1,12/1/2010 14:33,0.0,NaN,United Kingdom
1972,1972,536547,37509,NaN,1,12/1/2010 14:33,0.0,NaN,United Kingdom
1987,1987,536549,85226A,NaN,1,12/1/2010 14:34,0.0,NaN,United Kingdom
...,...,...,...,...,...,...,...,...,...
535322,535322,581199,84581,NaN,-2,12/7/2011 18:26,0.0,NaN,United Kingdom
535326,535326,581203,23406,NaN,15,12/7/2011 18:31,0.0,NaN,United Kingdom
535332,535332,581209,21620,NaN,6,12/7/2011 18:35,0.0,NaN,United Kingdom
536981,536981,581234,72817,NaN,27,12/8/2011 10:33,0.0,NaN,United Kingdom
538554,538554,581408,85175,NaN,20,12/8/2011 14:06,0.0,NaN,United Kingdom

In [36]:
df[
    df["Description"].str.contains(r'^(?=.*[a-z])(?=.*[0-9])(?=.*[^a-zA-Z0-9])[^A-Z]+$', na=False)][
        df["UnitPrice"] != 0]["Description"].unique()

C:\Users\spanu\AppData\Local\Temp\ipykernel_12796\678323461.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df[

array([], dtype=object)

In [39]:
df[
    df["Description"].str.contains(r'^(?=.*[A-Z])(?=.*[0-9])(?=.*[^a-zA-Z0-9][^a-z]+)$', na=False)][
        df["UnitPrice"] == 0][["Description", "UnitPrice"]]

C:\Users\spanu\AppData\Local\Temp\ipykernel_12796\585262699.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  df[

Empty DataFrame
Columns: [Description, UnitPrice]
Index: []

In [50]:
df_date = pd.to_datetime(df["InvoiceDate"])

df_date.dt.year.unique()

array([2010, 2011], dtype=int32)

In [56]:
df["Country"].unique()

array(['United Kingdom', 'France', 'Australia', 'Netherlands', 'Germany',
       'Norway', 'EIRE', 'Switzerland', 'Spain', 'Poland', 'Portugal',
       'Italy', 'Belgium', 'Lithuania', 'Japan', 'Iceland',
       'Channel Islands', 'Denmark', 'Cyprus', 'Sweden', 'Austria',
       'Israel', 'Finland', 'Bahrain', 'Greece', 'Hong Kong', 'Singapore',
       'Lebanon', 'United Arab Emirates', 'Saudi Arabia',
       'Czech Republic', 'Canada', 'Unspecified', 'Brazil', 'USA',
       'European Community', 'Malta', 'RSA'], dtype=object)